@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 id="headerText" class="display-4">Welcome To The Federal Barrel Agency</h1>
    <h5 id="bodyText">Using Barrels to store the United States Government's most important Goods and Documents</h5>
    <img id="homeImage" src="/images/HomeBarrel.png" class="center" />
</div>
