@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5 id="privacyText">Barrels are without a doubt the best storage solution for US Government Goods and Documents. Trust me I'm an unbiased source as the head of a barrel company. I have absolutely no reasons to favor barrels and completely belive that they are the best storage solution ever.</h5>
