*@
<h1>Edit</h1>
<form asp-action="UpDate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="hidden" class="form-group" display="none">
        <label asp-for="Radius" class="control-label"></label>
        <input asp-for="Radius" class="form-control" value=@Model.Radius />
    </div>
    <div class="form-group">
        <label asp-for="Height" class="control-label"></label>
        <input asp-for="Height" class="form-control" value=@Model.Height />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" value=@Model.Location />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" value=@Model.Date />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
